<% include ./partials/adminheader %>
<div class="container">
    <div class="input-group">
        <form action="/admin/employee-counts" method="GET">
            <h4>From: <input type="date" class="dateFrom" name="dateFrom" value="<%= defaultYear %>-<%= defaultMonth %>-<%= defaultDay %>"> To: <input type="date" class="dateTo" name="dateTo" value="<%= yearTo %>-<%= monthTo %>-<%= dayTo %>"> <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></h4>
        </form>
    </div>
    <table class="table table-bordered table-dark">
        <tr>
            <th>Employee</th>
            <th>Tasks Done</th>
            <th>Water Tests Done</th>
        </tr>
        <% allCounts.forEach(result => { %>
            <tr>
                <td><%= result.full_name %></td>
                <td><%= result.tasks %></td>
                <td><%= result.watertests %></td>
            </tr>
        <% }) %>
    </table>
</div>


<% include ./partials/adminfooter %>