<% include ./partials/adminheader %>
<div class="container">
    <div class="input-group">
        <form action="/admin/walkthrough-index" method="GET">
            <h4>From: <input type="date" class="dateFrom" name="dateFrom" value="<%= defaultYear %>-<%= defaultMonth %>-<%= defaultDay %>"> To: <input type="date" class="dateTo" name="dateTo" value="<%= yearTo %>-<%= monthTo %>-<%= dayTo %>"> <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></h4>
        </form>
    </div>
    <table class="table table-bordered table-dark">
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Time</th>
            <th>Changeroom</th>
            <th>Steamroom Temp</th>
            <th>Employee</th>
        </tr>
        <% walkthroughs.forEach(walkthrough => { %>
            <% date = walkthrough.date.toString() %>
            <tr>
                <td><%= date.slice(4, 15) %></td>
                <td><%= walkthrough.day %></td>
                <td><%= walkthrough.time %></td>
                <td><%= walkthrough.changeroom %></td>
                <td><%= walkthrough.steamroom %></td>
                <td><%= walkthrough.full_name %></td>
            </tr>
        <% }) %>
    </table>
</div>

<% include ./partials/adminfooter %>